@import url("./variables.css");
@import url("./global.css");

/* About Us */
.aboutus-container {
  max-width: 800px;
  margin: 0 auto;
  padding: var(--padding-40px);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.aboutus-container h1 {
  text-align: center;
  font-size: var(--heading-1);
  color: var(--text-color);
}

.aboutus-container p {
  text-align: left;
  font-size: var(--paragraph);
  line-height: Var(--line-height2);
  letter-spacing: var(--letter-spacing);
  color: var(--text-color);
}

/* Login */

.forgot-password {
  color: var(--text-color);
  text-decoration: none;
  font-size: 16px;
}

/* Register */

.register-text {
  font-size: 12px;
  text-align: center;
  color: var(--text-color);
  margin-top: -6px;
}

.login-text {
  margin-top: 24px;
  color: var(--text-color);
  font-size: var(--small);
}

.login-text a {
  color: var(--text-color);
  text-decoration: none;
}

/* Success */

.success-container {
  gap: 24px;
}

.payment-things {
  background-color: var(--third-color);
  width: 100%;
  padding: var(--padding-24px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 10px;
}

.payment-things p {
  font-size: var(--paragraph);
  color: var(--text-color);
  margin: 0;
}

/* profile card*/

.profile-wrapper{
  position: relative;
}

.profile-card {
  position: absolute;
  top: 40px;
  right: 0;
  background: var(--background-color);
  color: var(--text-color);
  padding: var(--padding-16px);
  border-radius: 8px;
  width: 200px;
}

.hidden {
  display: none;
}

/* products page */

.bestselling-section {
  padding: var(--padding-40px);
  background-color: var(--secondary-color);
}

.bestselling-title {
  font-size: var(--heading-1);
  color: var(--text-color);
  margin-bottom: var(--padding-32px);
}

.carousel-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.products-carousel {
  overflow: hidden;
  width: 100%;
}

.products-track {
  display: flex;
  gap: 24px;
  overflow-x: auto;
  
}

.products-track::-webkit-scrollbar {
  display: none
}


.product-card {
  min-width: 350px;
  max-width: 350px;
  background-color: var(--background-color);
  padding: var(--padding-16px);
  flex-shrink: 0;
}

.product-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}

.product-title {
  font-size: var(--heading-3);
  color: var(--text-color);
  margin-top: var(--padding-16px);
  margin-bottom: var(--padding-8px);

}

.product-prices {
  display: flex;
  gap: 10px;
  margin-bottom: var(--padding-16px);
}

.discount-price {
  color: var(--fourth-text-color);
  font-size: var(--paragraph);
  font-weight: bold;
}

.original-price {
  color: var(--third-text-color);
  text-decoration: line-through;
  font-size: var(--small);
}

.add-to-cart-btn {
  width: 100%;
  height: 42px;
  border: none;
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  font-size: 24px;
  cursor: pointer;
  border-radius: 20px;
}

.add-to-cart-btn:hover {
   box-shadow: 0 8px 18px rgba(0, 0, 0, 0.4);
}

.carousel-btn {
  width: 42px;
  height: 42px;
  border: none;
  background-color:var(--primary-color);
  color: var(--secondary-text-color);
  cursor: pointer;
  font-size: 24px;
  flex-shrink: 0;
}



/*cart page*/

#cart-page {
  min-height: 100vh;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-40px);
  box-sizing: border-box;
}

.cart-container {
  display: flex;
  gap: var(--padding-32px);
  align-items: flex-start;
}

.cart-section {
  width: 650px;
  background-color: var(--secondary-color);
  padding: var(--padding-24px);
  box-sizing: border-box;
}

.cart-section h1 {
  font-size: var(--heading-2);
  color: var(--text-color);
  margin-bottom: var(--padding-24px);
}

.cart-items {
  background-color: var(--third-color);
  display: flex;
  gap: 20px;
  padding: 20px;
  margin-bottom: 20px;
}


.cart-items img {
  width: 140px;
  height: 140px;
  object-fit: cover;
}

.cart-item-info {
  flex: 1;
}

.cart-item-info h2 {
  font-size: var(--heading-3);
  color: var(--text-color);
  margin-bottom: 12px;
}

.old-price {
  text-decoration: line-through;
  color: var(--third-text-color);
  display: inline-block;
  margin-right: 10px;
}

.cart-item-info p {
  font-size: var(--small);
  color: var(--text-color);
  margin-bottom: 10px;
}

p.new-price {
  color: var(--fourth-text-color);
  font-weight: bold;
  display: inline-block;
}


.quantity {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 14px;
  border: 1px solid var(--third-text-color);
  border-radius: 20px;
  padding: 4px 12px;
}

.quantity button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: var(--small);
}


.clear-cart-btn {
  border: none;
  background: none;
  color: var(--fourth-text-color);
  cursor: pointer;
  float: right;
  font-size: var(--small);
}



.summary {
  width: 350px;
  background-color: var(--secondary-color);
  padding: var(--padding-24px);
  box-sizing: border-box;
}

.summary h2 {
  font-size: var(--heading-3);
  color: var(--text-color);
  margin-bottom: var(--padding-32px);
}


.summary-info p,
.summary-total p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  font-size: var(--paragraph);
}

.summary hr {
  margin: 30px 0;
}

.checkout-btn {
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 12px;
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  font-size: var(--paragraph);
  cursor: pointer;
  margin-top: 20px;
}

.checkout-btn:hover {
   box-shadow: 0 8px 18px rgba(0, 0, 0, 0.4);
}