:root {
  /*colors*/
  --primary-color: #000000;
  --secondary-color: #ffe8cf;
  --third-color: #ffffff;

  --background-color: #ffffff;
  --text-color: #000000;
  --secondary-text-color: #ffffff;
  --third-text-color: #8b8b8b;
  --fourth-text-color: #ab0000;

  /*fonts family*/
  --font-family: Arial, sans-serif;

  /*font sizes*/
  --heading-1: 34px;
  --heading-2: 26px;
  --heading-3: 24px;
  --paragraph: 18px;
  --medium: 20px;
  --small: 16px;

  /*font spacing*/
  --letter-spacing: 0.5px;
  --line-height: 1.5;
  --line-height2: 2;

  /*padding*/
  --padding-8px: 8px;
  --padding-16px: 16px;
  --padding-24px: 24px;
  --padding-32px: 32px;
  --padding-40px: 40px;
  --padding-46px: 48px;
}
